body {
  font-family: "Lobster Two", cursive;
  font-family: "Raleway", sans-serif;
}
.card {
  display: block;
  width: 600px;
  margin: 0 auto;
  padding: 10px 0;
}

.enter-city {
  position: static;
  width: 300px;
}

.btn-primary {
  position: static;
}

.btn-success {
  position: relative;
  left: 20px;
}

#city {
  font-size: 23px;
  font-weight: 500;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #000000;
  font-size: 20px;
  font-weight: 150;
  height: 20px;
  line-height: 3;
  list-style: none;
  margin-bottom: 10px;
}

.weath-now {
  margin: 10px auto;
}

.td-city,
.td-day,
.hours,
.td-date {
  position: relative;
  right: 0;
  margin-top: 10px;
}

.td-detail-weather,
.td-temp .wind-now {
  position: relative;
  left: 40px;
  margin-top: 10px;
}

.weather-temperature {
  margin: 40px 0 0 0;
}

#temperature,
.units {
  margin-left: -10px;
  font-size: 35px;
  font-weight: 600;
}

/*#wind {
  position: relative;
  margin-top: 10px;
  padding: 20px;
}*/

.windd {
  margin: 10 0;
  padding: 0;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

#forecast {
  /* padding-left: 5px; */
}

.col-sm-2 {
  flex: 60 0 auto;
  margin: 8px;
}

.card-forecast-date {
  font-size: 15px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}
